<div class="column padding-reset" style="margin-top:50px;">
  <div class="ui small message page grid center aligned" style="background-color:rgba(0,0,0,0.5);color:white;">
    <h1 class="ui huge header" style="color:white">Administration des Articles</h1>
    <p><div class="ui blue button" ng-click="go('/admin/post/create');">Créer un nouvel article</div></p>
  </div>

  <div class="ui form">
    <div class="field">
      <div class="ui icon input">
        <input type="text" placeholder="Filtrer sur n'importe quelle colonne du tableau ..." ng-model="searchText">
        <i class="search icon"></i>
      </div>
    </div>
  </div>
  <div class="ui centered row basic segment" ng-show="nbPages>1">
      <pagination class="pagination-wrapper aligned" entity="entity" pages="nbPages" datas="allPosts" nb-pages="nbPages" current-page="currentPage"></pagination>
  </div>

  <div class="sixteen wide column white">

    <table class="ui sortable table loading">
      <thead>
        <tr>
          <th ng-click="changeSorting($event,'title')">Titre</th>
          <th ng-click="changeSorting($event,'created_at')"  class="descending">Crée le</th>
          <th ng-click="changeSorting($event,'updated_at')">Edité le</th>
          <th ng-click="changeSorting($event,'user_id')">Auteur</th>
          <th class="center aligned" width="230">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Start Loop -->
        <tr ng-repeat="post in posts | filter:searchText:strict track by post.created_at">
          <td><img src="{{post.url_thumbnail}}" alt="" style="max-height:40px; vertical-align: middle; max-width:40px;margin-right:10px;" />{{ post.title | limitTo : 75}} ...</td>
          <td>{{post.created_at | dateToISO | date:'dd/MM/yyyy'}}</td>
          <td>{{post.updated_at | dateToISO | date:'dd/MM/yyyy'}}</td>
          <td>{{post.users.username}}</td>
          <td class="center aligned">
            <div class="ui icon button positive" ng-click="go('/admin/post/edit/'+post.id)" data-content="Editer l'article">
              <i class="edit icon"></i>
            </div>
            <div class="ui icon button negative" ng-click="openDeletePostModal(post)">
              <i class="trash icon"></i>
            </div>
            <div class="ui icon button primary" ng-click="go('/post/'+post.id)">
              <i class="eye icon"></i>
            </div>
            <div class="ui icon button basic" ng-click="updateStatus(post)">
              <i class="icon" ng-class="getStatusClass(post)"></i>
            </div>
          </td>
        </tr>
        <!-- End Loop -->
      </tbody>
    </table>
  </div>
  <div class="ui centered row basic segment" ng-show="nbPages>1">
    <pagination class="pagination-wrapper center aligned" entity="entity" pages="nbPages" datas="allPosts" nb-pages="nbPages" current-page="currentPage"></pagination>
  </div>
</div>

<!-- DELETE POST MODAL -->
<div id="deletePostModal" class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
    Supprimer
  </div>
  <div class="content">
    <p>Voulez vous supprimer définitivement le Post suivant ?</p>
    <p><b>Titre : </b> <em>{{currentPost.title}}</em></p>
    <p><b>Intro : </b> <em>{{currentPost.excerpt | htmlToPlaintext}}</em></p>
  </div>
  <div class="actions">
    <div class="ui negative button">
      Non
    </div>
    <div class="ui positive right labeled icon button" ng-click="deletePost(currentPost)">
      Oui
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

