<div class="row" id="statistics">
  <div class="ui three column grid">
    <div class="column">
      <div class="ui basic horizontal segment center aligned">
        <div class="ui statistic">
          <div class="value">
            <i class="icon file outline"></i> {{postsNumber}}
          </div>
          <div class="label">
            Articles
          </div>
        </div>
        <div class="ui vertical basic inverted labeled icon buttons" style="margin-left: 20px;vertical-align: middle">
          <div class="ui inverted button" ng-click="go('/admin/post/create');">
            <i class="plus icon"></i>
            Ajouter
          </div>
          <div class="ui inverted button" ng-click="go('/admin/posts');">
            <i class="eye icon"></i>
            Parcourir
          </div>
        </div>
      </div>
    </div>
    <div class="column fixed">
      <div class="ui basic horizontal segment center aligned ">
        <div class="ui statistic">
          <div class="value">
            <i class="question icon"></i> {{qcmsNumber}}
          </div>
          <div class="label">
            Q.C.M.
          </div>
        </div>
        <div class="ui vertical basic inverted labeled icon buttons" style="margin-left: 20px;vertical-align: middle">
          <div class="ui inverted button" ng-click="go('/admin/qcm/create')">
            <i class="plus icon"></i>
            Ajouter
          </div>
          <div class="ui inverted button" ng-click="go('/admin/qcm')">
            <i class="eye icon"></i>
            Parcourir
          </div>
        </div>
      </div>
    </div>
    <div class="column fixed">
      <div class="ui basic horizontal segment center aligned">
        <div class="ui statistic">
          <div class="value">
            <i class="checkMark icon"></i> {{scoresNumber}}
          </div>
          <div class="label">
            Qcms complétés
          </div>
        </div>
        <div class="ui vertical basic inverted labeled icon buttons" style="margin-left: 20px;vertical-align: middle">
          <div class="ui inverted button">
            <i class="plus icon"></i>
            Ajouter
          </div>
          <div class="ui inverted button">
            <i class="eye icon"></i>
            Parcourir
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen column wide ui segment loading" id="feedWrapper">
    <div class="ui feed">
      <h2 class="teal header"><i class="icon feed teal"></i>Fil d'Actualité</h2>
      <div class="ui divider">
      </div>
      <div class="row centered">
        <ui class="ui icon button" ng-click="refreshFeed()"><i class="icon refresh"></i></ui>
      </div>
      <div class="event" ng-repeat="feed in newsFeed">
        <!-- POST -->
        <div class="label" ng-if="feed.type == 'post'">
          <!--<img src="{{feed.users.url_thumbnail}}"/>-->
          <i class="send icon teal"></i>
        </div>
        <div class="content" ng-if="feed.type == 'post'">
          <div class="summary">
            <div class="header">
              <h3 class="dib">
                <a>{{feed.users.username}}</a> à posté un article nommé '{{feed.title}}'
              </h3>
              <div class="date fr dib">
                {{ feed.updated_at | dateAgo }}
              </div>
            </div>
            <div class="extra text oh">
              <div class="extra images">
                <a><img src="{{feed.url_thumbnail}}"></a>
              </div>
              "{{ feed.excerpt }}"
              <div class="right floated compact ui button">
                <a href="#/post/{{feed.id}}" class="ui icon tac">
                  <i class="unhide icon"></i><br>
                  <div class="content">
                    <div class="header tac">
                      Voir le post
                    </div>
                  </div>
                </a>
              </div>
          </div>
          <div class="meta">
            <a class="like">
              <i class="comments icon"></i> {{feed.comments.length}}
            </a>
          </div>
        </div>
        <!--POST-->

        <!-- SCORE -->
        <div class="label" ng-if="feed.type == 'score'">
          <!--<img src="{{feed.users.url_thumbnail}}">-->
          <i class="checkmark box icon teal"></i>
        </div>
        <div class="content" ng-if="feed.type == 'score'">
          <div class="summary">
            <a class="user">
              {{feed.users.username}}
            </a> à complété le qcm "{{ feed.qcms.title }}"  avec un taux de réussite de <label class="ui label compact" ng-class="{ red: feed.score < 30, orange: feed.score >30 && feed.score <70, green: feed.score > 70 }"> {{feed.score}}%</label>
            <div class="date">
              {{ feed.updated_at | dateAgo}}
            </div>
          </div>
        </div>
        <!--SCORE-->

        <!-- QCM -->
        <div class="label" ng-if="feed.type == 'qcm'">
          <i class="pencil icon teal"></i>
        </div>
        <div class="content" ng-if="feed.type == 'qcm'">
          <div class="summary">
            {{ feed.users.username }} à crée un nouveau QCM
            <div class="date">
              {{ feed.updated_at | dateAgo }}
            </div>
          </div>
          <div class="extra text">
            "{{ feed.title }}" <br/>
            <small>{{feed.description}}</small>
          </div>
        </div>
        <!-- QCM -->
      </div>
    </div>
  </div>
</div>
