<div class="row">
  <h2 class="ui icon header">
    <i class="dashboard icon"></i>
    <div class="content">
        Tableau de Bord 
      <div class="sub header">Créez, Editez, Supprimez les articles du site.</div>
    </div>
  </h2>
</div>
<div class="five wide column white" style="margin-top:30px;">
  <div class="ui two column stackable grid">
    <div class="column" style="text-align:center;">
      <div class="ui statistic">
        <div class="value">
          22
        </div>
        <div class="label">
        <i class="icon student"></i>Eleves inscrits
        </div>
      </div>
    </div>
    <div class="column" style="text-align:center;">
      <div class="ui animated button positive">
        <div class="visible content">Ajouter</div>
        <div class="hidden content">
          <i class="add circled icon"></i>
        </div>
      </div>
      <div class="ui animated button blue">
        <div class="visible content">Voir tous</div>
        <div class="hidden content">
          <i class="icon arrow circle right"></i>
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="five wide column white" style="margin-top:30px;">
  <div class="ui two column stackable grid">
    <div class="column" style="text-align:center;">
      <div class="ui statistic">
        <div class="value">
          10
        </div>
        <div class="label">
          <i class="help icon"></i>QCM
        </div>
      </div>
    </div>
    <div class="column" style="text-align:center;">
      <div class="ui animated button positive">
        <div class="visible content">Ajouter</div>
        <div class="hidden content">
          <i class="add circled icon"></i>
        </div>
      </div>
      <div class="ui animated button blue">
        <div class="visible content">Voir tous</div>
        <div class="hidden content">
          <i class="icon arrow circle right"></i>
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="five wide column white" style="margin-top:30px;">
  <div class="ui two column stackable grid">
    <div class="column" style="text-align:center;">
      <div class="ui statistic">
        <div class="value">
          {{ nbPosts }}
        </div>
        <div class="label">
          <i class="file icon"></i>Articles
        </div>
      </div>
    </div>
    <div class="column" style="text-align:center;">
      <div class="ui animated button positive">
        <div class="visible content">Ajouter</div>
        <div class="hidden content">
          <i class="add circled icon"></i>
        </div>  
      </div>      
      <div class="ui animated button blue" ng-click="go('/admin/articles');">
        <div class="visible content">Voir tous</div>
        <div class="hidden content">
          <i class="icon arrow circle right"></i>
        </div>
      </div>  
    </div>
  </div>
</div>

<!-- FEED -->
<div class="sixteen wide column" style="margin-top:50px">
  <div class="ui feed piled segment">
    <h3 class="ui header">Fil d'actualités</h3>
    <div class="event">
      <div class="label">
        <i class="pencil icon"></i>
      </div>
      <div class="content">
        <div class="summary">
          Vous avez crée un nouveau QCM
          <div class="date">
            3 days ago
          </div>
        </div>
        <div class="extra text">
          <div data-rating="4" class="ui star rating"><i class="icon active"></i><i class="icon active"></i><i class="icon active"></i><i class="icon active"></i></div>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="label">
        <i class="pencil icon"></i>
      </div>
      <div class="content">
        <div class="summary">
          Didier a ajouté un Nouvel Eleves à la classe 1ere S
          <div class="date">
            3 days ago
          </div>
        </div>
        <div class="extra text">
          Jacquie Michel
        </div>
      </div>
    </div>
  </div>
</div>
