<div class="ui grid">
    <div class="computer tablet only row">
        <div class="ui large fixed menu navbar page grid">
            <a href="#/" class="red item"> <i class="icon left arrow"></i>Retour au site</a>
            <a href="#/admin" class="red item" ng-class="{ active: isActive('/admin')}"> <i class="icon dashboard"></i>Dashboard</a>
            <a href="#/admin/posts" class="red item" ng-class="{ active: isActive('/admin/posts')}"> <i class="icon ticket"></i>Articles</a>
            <a href="#/admin/qcm" class="red item" ng-class="{ active: isActive('/admin/qcm')}"> <i class="icon question"></i>QCM</a>
            <a href="#/admin/students" class="red item" ng-class="{ active: isActive('/admin/students')}"><i class="icon student"></i>Eleves</a>

            <div class="right menu">
                <div class="ui floating labeled icon dropdown button basic user-btn" id="deconnexion" ng-show="isLoggedUser()">
                    <i class="user icon"></i>
                    <span class="text">{{activeUser.username}}</span>
                    <div class="menu">
                        <div class="header">
                            Actions
                        </div>
                        <div class="item" ng-click="go()">
                            <!-- <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg"> -->
                            <i class="edit icon"></i>
                            Edition de mon profil
                        </div>
                        <div class="item" ng-click="logout()">
                            <i class="icon remove Circle"></i>
                            Déconnexion
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile only row">
        <div class="ui fixed inverted navbar menu">
            <a href="" class="brand item">Project Name</a>
            <div class="right menu open">
                <a href="" class="menu item">
                    <i class="reorder icon"></i>
                </a>
            </div>
        </div>
        <div class="ui vertical navbar menu" id="mobile-menu">
            <a href="" class="active item">Home</a>
            <a href="" class="item">About</a>
            <a href="" class="item">Contact</a>
            <div class="ui item">
                <div class="text">Dropdown</div>
                <div class="menu">
                    <a class="item">Action</a>
                    <a class="item">Another action</a>
                    <a class="item">Something else here</a>
                    <a class="ui aider"></a>
                    <a class="item">Seperated link</a>
                    <a class="item">One more seperated link</a>
                </div>
            </div>
            <div class="menu">
                <a href="" class="active item">Default</a>
                <a href="" class="item">Static top</a>
                <a href="" class="item">Fixed top</a>
            </div>
        </div>
    </div>
</div>



