<div style="margin-top:50px;" class="ui black big launch right attached fixed button" data-direction="bottom"  ng-click="showAdminSidebar()">
  <i class="content icon"></i>
  <span class="text">Menu</span>
</div>
<div class="ui bottom horizontal inverted labeled icon sidebar menu scale down">
  <a class="item">
    <i class="dashboard  icon"></i>
    Dashboard
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Articles
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    History
  </a>
  <a class="item">
    <i class="mail icon"></i>
    Messages
  </a>
  <a class="item">
    <i class="chat icon"></i>
    Discussions
  </a>
  <a class="item">
    <i class="trophy icon"></i>
    Achievements
  </a>
  <a class="item">
    <i class="shop icon"></i>
    Store
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>