<a class="item" href="#/admin">
    <i class="home icon"></i>
    Dashboard
</a>
<a class="item"  href="#/admin/posts">
    <i class="block layout icon"></i>
    Articles
</a>
<a class="item"  href="#/admin/qcm">
    <i class="question icon"></i>
    QCM
</a>
<a class="item"  href="#/admin/qcms">
    <i class="calendar icon"></i>
    History
</a>
<a class="item"  href="#/admin">
    <i class="mail icon"></i>
    Messages
</a>
<a class="item"  href="#/admin">
    <i class="chat icon"></i>
    Discussions
</a>
<a class="item"  href="#/admin">
    <i class="trophy icon"></i>
    Achievements
</a>
<a class="item"  href="#/admin">
    <i class="shop icon"></i>
    Store
</a>
<a class="item"  href="#/admin">
    <i class="settings icon"></i>
    Settings
</a>
