<div class="row" style="margin-top:50px;">
    <div class="ui two column grid page segment" style="background-color:rgba(0,0,0,0.5);color:white;">
        <div class="ui small message page grid center aligned">
            <h1 class="ui huge header">Administration des Eleves</h1>
            <p><div class="ui blue button" ng-click="go('/admin/student/create');">Ajouter un nouvel élève</div></p>
        </div>
        <div class="two column centered row">
            <div class="column">
                <h4>Eleves de Première</h4>
                <table class="ui table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Ajouté le</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in firstClassStudents">
                        <td>{{student.username}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.created_at | dateToISO | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <div class="ui icon button positive" ng-click="go('/admin/student/edit/'+student.id)" data-content="Editer l'élève">
                                <i class="edit icon"></i>
                            </div>
                            <div class="ui icon button negative" ng-click="openDeleteStudentModal(student)">
                                <i class="trash icon"></i>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="column">
                <h4>Eleves de Terminale</h4>
                <table class="ui table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Ajouté le</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in finalClassStudents">
                        <td>{{student.username}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.created_at | dateToISO | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <div class="ui icon button positive" ng-click="go('/admin/student/edit/'+student.id)" data-content="Editer l'élève">
                                <i class="edit icon"></i>
                            </div>
                            <div class="ui icon button negative" ng-click="openDeleteStudentModal(student)">
                                <i class="trash icon"></i>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
          </div>
    </div>
</div>

<!-- DELETE STUDENT MODAL -->
<div id="deleteStudentModal" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Supprimer
    </div>
    <div class="content">
        <p>Voulez vous supprimer définitivement l'élève suivant ?</p>
        <p><b>Nom : </b> <em>{{currentStudent.username}}</em></p>
        <p><b>Email : </b> <em>{{currentStudent.email}}</em></p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Non
        </div>
        <div class="ui positive right labeled icon button" ng-click="deleteStudent(currentStudent)">
            Oui
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

