<div class="row" style="padding-top:50px;">
    <div class="sixteen wide column">
        <h1>{{qcm.title}}</h1>
        <div class="ui segment">
            <div class="header item"><h3>Description</h3></div>
            {{qcm.description}}
        </div>
        <div class="ui two steps">
            <div class="step" ng-class="{ active: step == 1}">
                <i class="question icon"></i>
                <div class="content">
                    <div class="title">Répondez aux questions</div>
                </div>
            </div>
            <div class="step" ng-class="{ active: step == 2}">
                <i class="info icon"></i>
                <div class="content">
                    <div class="title">Votre score</div>
                </div>
            </div>
        </div>
        <div class="ui segment loading" ng-show="step == 1">
            <form class="ui form">
                <div class="grouped fields" ng-repeat="question in qcm.questions" on-last-repeat>
                    <label><i class="icon question"></i>{{question.content}}</label>
                    <div class="field" ng-repeat="answer in question.answers">
                        <div class="ui checkbox" id="answer{{answer.id}}">
                            <input type="checkbox" name="{{answer.id}}">
                            <label>{{answer.content}}</label>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui submit button positive" ng-click="calculateScore();">Voir mon score</div>
            </form>
        </div>
        <div class="ui segment" ng-show="step == 2">
            Votre score : <label class="red" style="font-size:4em;">{{score}} % </label> de bonne réponses !
            <div class="ui button" ng-click="go('/qcm');">Revenir au tableau des QCM</div>
        </div>
    </div>
</div>