<div class="row" style="padding-top:50px;">
    <div class="sixteen wide column">
        <h1>Le titre du QCM</h1>
        <div class="ui two steps">
            <div class="step" ng-class="{ active: step == 1}">
                <i class="question icon"></i>
                <div class="content">
                    <div class="title">Répondez aux questions</div>
                </div>
            </div>
            <div class="step" ng-class="{ active: step == 2}">
                <i class="info icon"></i>
                <div class="content">
                    <div class="title">Votre score</div>
                </div>
            </div>
        </div>
        <div class="ui segment" ng-show="step == 1">
            <div class="ui form">
                <div class="grouped fields">
                    <label for="fruit"><i class="icon question"></i>Select your first favorite fruit:</label>
                    <div class="field">
                        <div class="ui radio checkbox checked">
                            <input type="radio" name="fruit" checked="">
                            <label>Apples</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Oranges</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Pears</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Grapefruit</label>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="grouped fields">
                    <label for="fruit"><i class="icon question"></i>Select your second favorite fruit:</label>
                    <div class="field">
                        <div class="ui radio checkbox checked">
                            <input type="radio" name="fruit" checked="">
                            <label>Apples</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Oranges</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Pears</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Grapefruit</label>
                        </div>
                    </div>
                </div>
                <div class="ui submit button positive" ng-click="calculateScore();">Voir mon score</div>
            </div>
        </div>
        <div class="ui segment" ng-show="step == 2">
            8/10 MA GEULE !
            <div class="ui button" ng-click="go('/qcm');">Revenir au tableau des QCM</div>
        </div>
    </div>
</div>