<div class="row" style="padding-top:50px;">
    <div class="sixteen wide column">
        <div class="ui two steps">
            <div class="active step">
                <i class="question icon"></i>
                <div class="content">
                    <div class="title">Répondez aux questions</div>
                </div>
            </div>
            <div class="disabled step">
                <i class="info icon"></i>
                <div class="content">
                    <div class="title">Votre score</div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui form">
                <div class="grouped fields">
                    <label for="fruit">Select your second favorite fruit:</label>
                    <div class="field">
                        <div class="ui radio checkbox checked">
                            <input type="radio" name="fruit" checked="">
                            <label>Apples</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Oranges</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Pears</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Grapefruit</label>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="grouped fields">
                    <label for="fruit">Select your second favorite fruit:</label>
                    <div class="field">
                        <div class="ui radio checkbox checked">
                            <input type="radio" name="fruit" checked="">
                            <label>Apples</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Oranges</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Pears</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit">
                            <label>Grapefruit</label>
                        </div>
                    </div>
                </div>
                <div class="ui submit button">Valider</div>
            </div>
        </div>
    </div>
</div>