<div class="sixteen wide column" style="background-color:yellow"><h1>TEMPLATE HOME</h1></div>

<div class="ui divider"></div>

<div class="eight wide column">
	<div class="ui fluid card">
		<div class="image">
			<img src="http://lorempixel.com/g/300/200/">
		</div>
		<div class="content">
			<div class="header">Actualité de merde</div>
			<div class="meta">
				<a class="group">Put meta here</a>
			</div>
			<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quidem, doloremque, deleniti ullam, maiores quas soluta similique dolorum vitae officia odit minima perferendis ea temporibus eos eum. Inventore, vero, totam!</div>
		</div>
		<div class="extra content">
			<a class="right floated created">Author</a>
			<a class="friends">Comments or other shit</a>
			<p style="font-size:50px">JOSHUA</p>
		</div>
	</div>
</div>