<div class="ui segment" ng-show="comments.length > 0">
    <div class="ui top attached label teal"><i class="icon comments"></i>Commentaires</div>
    <div class="ui divided items" id="commentsContainer">
        <div class="item pr" ng-repeat="comment in comments | limitTo: commentLimit">
            <a class="ui right ribbon label"><i class="icon clock"></i>{{comment.created_at | dateAgo}}</a>
            <div ng-show="isUserAdmin()" class="ui corner label cp" ng-click="openDeleteCommentModal(comment)">
                <i class="icon trash"></i>
            </div>  
            <p>{{comment.content}}</p>
            <div class="ui image label right floated">
                <img ng-src="{{post.users.profile_picture}}"/>
                Par : {{comment.name}}
            </div>
        </div>
        <div class="item" style="text-align: center;cursor:pointer;" ng-click="moreComments()" ng-show="commentLimit < comments.length">
            <i class="icon arrow down"></i><b>Commentaires plus anciens</b>
        </div>
    </div>
</div>
<div class="ui segment" ng-hide="comments.length > 0">
    Pas de commentaires pour l'instant
</div>
<form novalidate name="newComment" class="ui form segment" name="commentForm" ng-submit="postComment()">
    <h2>Laisser un commentaire :</h2>
    <div class="field" style="display:none">
        <input type="text" name="specialField" ng-model="specialField"/>
    </div>
    <div class="field" ng-class="{error: newComment.name.$error.required && newComment.$submitted }" >
        <label>Votre nom : </label>
        <input type="text" name="name" ng-model="comment.name" required>
    </div>
    <div class="field" ng-class="{error: newComment.content.$error.required && newComment.$submitted}">
        <label>Commentaire :</label>
        <textarea name="content" ng-model="comment.content" required></textarea>
    </div>
    <input ng-submit type="submit" value="Publier" class="ui green button"/>
</form>

<!-- DELETE COMMENT MODAL -->
<div id="deleteCommentModal" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Supprimer
    </div>
    <div class="content">
        <p>Voulez vous supprimer le commentaire suivant ?</p>
        <p><b>Auteur : </b> <em>{{currentComment.name}}</em></p>
        <p><b>Email : </b> <em>{{currentComment.content}}</em></p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Non
        </div>
        <div class="ui positive right labeled icon button" ng-click="deleteComment(currentComment)">
            Oui
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

