<div class="ui segment">
    <h2>Commentaires :</h2>
    <div class="ui divided items">
        <div class="item" ng-repeat="comment in comments">
            <p>{{comment.content}}</p>
            <em>posté par: {{comment.name}}</em></br>
            <em>le: {{comment.created_at | dateToISO | date:'dd/MM/yyyy'}}</em>
        </div>
    </div>
</div>
<form name="newComment" class="ui form segment" name="commentForm" ng-submit="postComment()">
    <h2>Laisser un commentaire :</h2>
    <div class="field" style="display:none">
        <input type="text" name="specialField" ng-model="specialField"/>
    </div>
    <div class="field">
        <label>Votre nom : </label>
        <input type="text" name="name" ng-model="comment.name">
    </div>
    <div class="field">
        <label>Commentaire :</label>
        <textarea name="content" ng-model="comment.content"></textarea>
    </div>
    <input ng-submit type="submit" value="Publier" class="ui green button"/>
</form>