<!-- Image uploader zone -->
<div class="column">
  <div class="ui segment">
    <div class="well my-drop-zone" nv-file-over uploader="uploader" over-class="my-drop-zone-over" >
      Déposer votre image ici
    </div>

    <div class="ui horizontal divider">Ou</div>
    <input type="file" nv-file-select uploader="uploader"/>
  </div><!-- /.uploader-zone -->
</div>

<!-- Image describer zone -->
<div class="column">
  <div class="ui segment">
    <img ng-src="{{currentPost.url_thumbnail}}" ng-show="{currentPost.url_thumbnail == ''}" alt="{{currentPost.title}}" width="200">
  </div>
</div>

