<div class="ui right aligned column">
    <!--<i class="icon share alternate"></i>Share-->
    <div class="ui facebook button mini" socialshare socialshare-provider="facebook" socialshare-text="coucou" socialshare-url="http://elycee.creativecode.fr/" >
        <i class="share alternate icon"></i>
        Facebook
    </div>
    <div class="ui google plus button mini" socialshare socialshare-provider="google+" socialshare-url="http://elycee.creativecode.fr/">
        <i class="google plus icon"></i>
        Google +

    </div>
    <div class="ui twitter plus button mini" socialshare socialshare-text="" socialshare-via="cpdev08_eLycee" socialshare-provider="twitter" socialshare-url="http://elycee.creativecode.fr/" socialshare-hashtags="eLycee" >
        <i class="retweet icon"></i>
        Twitter
    </div>
</div>