<a class="twitter-timeline"
	  href="https://twitter.com/cpdev08_eLycee"
	  data-widget-id="537932559221788672"
	  data-theme="light"
	  data-tweet-limit="5"
	  data-chrome="nofooter noheader transparent"
	  data-link-color="#1BB5E0"
	  data-related="twitterapi,twitter"
	  data-aria-polite="assertive"
	  width="500"
	  height="300">
		Tweets de @cpdev08_eLycee
</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>