@import "compass";

//////////////////////////////////  CONFIG   //////////////////////////////////

::selection {
    background-color: rgba(#103F57,.8);
    color: white;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}

.ui.grid.main{
    margin-top: 70px;
}


.mobile.row{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
    border-radius: 0px !important;
}

.padding-reset{
    padding: 0px !important;
}

.ui.message{
    padding: 40px !important;
}

@media (max-width: 767px) {
    .ui.grid.main{
        margin-top: 70px;
    }
    .ui.vertical.menu.navbar{
        margin-top: 0px !important;
    }
}

#mobile-menu{
    margin-top: -15px !important;
    width: 100%;
    display: none;
}

.ui.page.grid {
    padding-left:8%;
    padding-right:8%;
}

.navbar {
    right:0 !important;
}

body {
//    @include background-image(radial-gradient(45px 45px, #e3dbc8 180px, #103f57 668px )!important);
//    background-size: cover !important;
//    background-color:white !important;
    //test
    background-image: url('../../img/grey.png');

}

//////////////////////////////////  CONFIG   //////////////////////////////////



////////////////////////////////  NG_ANIMATE   ////////////////////////////////

.reveal-animation.ng-enter {
    -webkit-animation: Fade-Enter-Anime .5s;
    -moz-animation: Fade-Enter-Anime .5s;
    animation: Fade-Enter-Anime .5s;
}

.reveal-animation.ng-leave {
    -webkit-animation: Fade-Leave-Anime .2s;
    -moz-animation: Fade-Leave-Anime .2s;
    animation: Fade-Leave-Anime .2s;
}

@-webkit-keyframes Fade-Enter-Anime {
    from { opacity:0; }
    to { opacity:1; }
}

@-webkit-keyframes Fade-Leave-Anime {
    from { opacity:1; }
    to { opacity:0; }
}

////////////////////////////////  NG_ANIMATE   ////////////////////////////////

//////////////////////////////////  LOADER   //////////////////////////////////

.loader-section{
    background-color:rgba(0,0,0,0.8);
    height: 70px;
    width:95px;
    z-index: 100;
    position: absolute;
    margin:auto;
    right:0; left:0;
    bottom:0; top:0;
    padding:20px;

    .loader-wrapper {
        text-align:center;
        position: relative;
        height: 30px;

        .loader-bar:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left:0;
            width:10px;
            height:30px;
            background-color: white;
            display: block;
            animation: grow 1s linear infinite;
        }

        .loader-bar:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left:15px;
            width:10px;
            height:30px;
            background-color: white;
            display: block;
            animation: grow 1s linear -.25s infinite;
        }

        .loader-bar span {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left:30px;
            width:10px;
            height:30px;
            background-color: white;
            display: block;
            animation: grow 1s linear -.5s infinite;
        }

        .loader-bar span:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 15px;
            width: 10px;
            height: 30px;
            background-color: white;
            display: block;
            animation: grow 1s linear -.75s infinite;
        }

    }

}

@keyframes grow {
    0% {
        transform: scaleY(0);
        opacity: 0;
        background-color: white;
    }
    50% {
        transform: scaleY(1);
        opacity: 1;
        background-color: red;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
        background-color: white;
    }
}

//////////////////////////////////  LOADER   //////////////////////////////////

//////////////////////////////////  POPUPS   //////////////////////////////////

#connexionPopUp {
    .ui {
        &.form {
            .field>label {
                color: white;
            }
        }
    }
}

 .header-img {
    background-size:cover;
    width:100%;
    height:250px;
 }

.textarea{
    outline:none;
    vertical-align: top;
    margin:0;
    background:#fff;
    border: 1px solid rgba(39,41,43,.15);
    color: rgba(0,0,0,.8);
    border-radius: .2857rem;
    box-shadow: 0 0 transparent inset;
    -webkit-transition: background-color .2s ease,color .2s ease,box-shadow .2s ease,border-color .2s ease;
    transition: background-color .2s ease,color .2s ease,box-shadow .2s ease,border-color .2s ease;
    font-size: 1em;
    line-height: 1.33;
    resize: auto;
    width:100%;
    box-sizing:border-box;
    word-wrap:break-word;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
.pt10 {
    padding-top: 10px;
}
.pagination-wrapper {
    padding-top: 15px;
    text-align: center;
}
// drop zone
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    @include transition(0.5s);
}
.my-drop-zone {
    border: dotted 3px lightgray;
}
.my-drop-zone-over {
    border: dotted 3px green;
}
.ui.grid.no-top-margin {
    margin: 0;
}
.ui.buttons .or:before {
    content: 'ou' !important;
}

// problem modal scroll @todo find another to solve the problem, cursor in textarea makes popu back to top
.dimmed.dimmable>.ui.animating.dimmer, 
.dimmed.dimmable>.ui.visible.dimmer, 
.ui.active.dimmer {
    overflow: scroll;
}

//////////////////////////////////  POPUPS   //////////////////////////////////

/////////////////////////////////  SEGMENTS   /////////////////////////////////

#sidebar {
    width: 100%;
}

.column.fixed {
    width: 33% !important;
}

.ui.statistic {
    display:inline-block;
    vertical-align: middle;
}

.ui.statistic > .value, .ui.statistic > .label {
    color:white !important;
}

#statistics:before {
    position: absolute;
    display:block;
    content:'';
    top:0; left: 0; right: 0; bottom: 0;
}

#statistics {
    padding-top:50px;
    background-color: rgba(0,0,0,0.5);
}




/////////////////////////////////  SEGMENTS   /////////////////////////////////

///////////////////////////////////  FONTS   //////////////////////////////////

