<div class="ten wide column ui grey block header"><h3>Administration des articles</h3></div>
<table class="ten wide column ui celled table" style="">
  <thead>
    <tr>
      <th>ID</th>
      <th>titre</th>
      <th>excerpt</th>
      <th>content</th>
      <th>user</th>
      <th>editer</th>
      <th>supprimer</th>
      <th>voir</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Approved</td>
      <td>None</td>
      <td>Approved</td>
      <td>None</td>
      <td>None</td>
      <td>Approved</td>
      <td>None</td>
    </tr>
    <tr>
      <td>Jamie</td>
      <td>Approved</td>
      <td>Requires call</td>
      <td>Approved</td>
      <td>None</td>
      <td>None</td>
      <td>Approved</td>
      <td>None</td>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Denied</td>
      <td>None</td>
      <td>Approved</td>
      <td>None</td>
      <td>None</td>
      <td>Approved</td>
      <td>None</td>
    </tr>
  </tbody>
</table>