<div class="row">
    <div id="navbar" class="ui secondary pointing menu navbar-admin">
        <a href="#/" class="item" ng-class="{ active: isActive('/')}"> <i class="icon home"></i>Accueil du site</a>
        <div class="right menu">
            <a href="" class="item" id="deconnexion">
                <div class="ui animated button positive">
                  <div class="visible content">se deconnecter</div>
                  <div class="hidden content">
                    <i class="sign out icon"></i>
                  </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="ui black big launch right attached fixed button" data-transition="overlay" data-direction="left">
  <i class="content icon"></i>
  <span class="text">Menu</span>
</div>
