<div class="ui vertical inverted thin sidebar menu left push labeled icon" id="menu" style="display:none;z-index:10;padding-top:75px;" ng-controller="Nav2Controller">
        <a href="#/" class="item"><i class="dashboard icon"></i> Dashboard </a>
        <a href="#/posts" class="item"><i class="ticket icon"></i> Articles </a>
        <a href="#/questions" class="item"><i class="help icon"></i> Questions </a>
        <a href="#/eleves" class="item"><i class="users icon"></i> Eleves </a>
        <a href="#/messages" class="item"><i class="mail icon"></i> Messages </a>
    </div>