<div class="column padding-reset" style="margin-top:50px;" nv-file-drop uploader="uploader">
  <div class="header">
   <h1><i class="write icon"></i> {{ mode == "create" ? "Création d'un nouvel Article" : "Edition de l'article" }}</h1>
  </div>
  <div class="content ui form segment">
    <form name="postForm" class="ui form" ng-class="{ loading: isFormLoading }" ng-submit="submitForm()" novalidate>
      <input type="hidden" ng-model="currentPost.id">

      <div class="field" ng-class="{ error: postForm.$submitted && postForm.title.$error.required }">
        <label>Titre</label>
        <div class="ui corner labeled input">
          <input type="text" name="title" placeholder="Titre de l'article" ng-model="currentPost.title" required>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>

          <div ng-show="postForm.$submitted">
            <div ng-show="postForm.title.$error.required">
              Veuillez entrer un titre pour l' article
            </div>
          </div>
        </div> <!-- /ui corner labeled input -->
      </div> <!-- Field title -->

      <!-- Image manager -->
      <div id="image-uploader" class="field">
        <label>Image de couverture</label>
        <div class="ui right aligned grid">
          <!-- UPLOAD IMAGE ZONE -->
          <div img-uploader class="center aligned two columns row"></div>
        </div>  
      </div><!-- .field image -->

      <!-- @todo => president erreur field text angular -->
      <div class="field">
        <label>Introduction</label>
        <textarea ckeditor="editorOptions" ng-model="currentPost.excerpt" ng-class="{ error: postForm.$submitted && postForm.excerpt.$error.required }"></textarea>

        <!-- <div ng-show="postForm.$submitted">
          <div ng-show="postForm.excerpt.$error.required">
            Veuillez entrer un extrait pour l' article
          </div>
        </div> -->
      </div>


      <div class="field">
        <label>Contenu</label>
        <!--<div text-angular class="segment ui" ng-model="currentPost.content"></div>-->

       <!--  <div ng-show="postForm.$submitted">
          Veuillez entrer un contenu pour l' article
        </div> -->
      </div>

      <div class="field">
        <div class="ui toggle checkbox" > 
          <input type="checkbox" 
                 value="{{currentPost.status}}">
          <label>Publier</label>
        </div>
      </div>

      <div class="ui buttons">
        <input type="submit" value="{{ modal.mode == 'create' ? 'Creer' : 'Enregistrer les modifications' }}" class="ui submit positive button"/>
        <div class="or"></div>
        <div class="ui button negative reset" ng-click="reset()">Annuler</div>
      </div>
    </form>
  </div>
</div>