<div class="column padding-reset" style="margin-top:50px;" nv-file-drop uploader="uploader">
  <div class="header">
    <h1><i class="write icon"></i> {{ mode == "create" ? "Création d'un nouvel Article" : "Edition de l'article" }}</h1>
  </div>
  <div class="content ui form segment">
    <form name="postForm" class="ui form" ng-submit="submitForm()" novalidate>
      <input type="hidden" ng-model="currentPost.id">

      <div id="title" class="field" ng-class="{ error: postForm.$submitted && postForm.title.$error.required }">
        <label>Titre</label>
        <div class="ui corner labeled input">
          <input type="text" name="title" placeholder="Titre de l'article" ng-model="currentPost.title" required>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div> <!-- /ui corner labeled input -->
      </div> <!-- Field title -->

      <!-- Image manager -->
      <div id="image-uploader" class="field" ng-class="{ error: postForm.$submitted && errorimage }">
        <label>Image de couverture</label>
        <div class="ui right aligned grid">
          <!-- UPLOAD IMAGE ZONE -->
          <div img-uploader class="center aligned two columns row"></div>
        </div>
      </div><!-- .field image -->

      <!-- @todo => president erreur field text angular -->
      <div id="excerpt" class="ui corner labeled input field" ng-class="{ error: postForm.$submitted && postForm.excerpt.$error.required }">
        <label>Introduction</label>
        <div class="pr">
          <textarea name="excerpt" ng-model="currentPost.excerpt" required ng-maxlength="255"></textarea>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>

      <div id="content" class="field" ng-class="{ error: postForm.$submitted && postForm.content.$error.required }">
        <label>Contenu</label>
        <textarea name="content" ck-editor ng-model="currentPost.content" required></textarea>
      </div>

      <div class="field">
        <div class="ui toggle checkbox" >
          <input type="checkbox"
                 value="{{currentPost.status}}">
          <label>Publier</label>
        </div>
      </div>

      <!-- errors -->
      <div ng-show="postForm.$submitted && ! postForm.$valid" class="ui error form" style="margin-bottom: 20px">
          <div class="ui error message">
            <div class="header">
              Problème formulaire
            </div>
            <ul class="list list-ancors">
                <li ng-show="postForm.title.$error.required" ng-click="scrollTo('title')">
                Veuillez entrer un titre pour l' article
                </li>
                <li ng-show="errorimage" ng-click="scrollTo('image-uploader')">Le champ image est requis</p>
                <li ng-show="postForm.excerpt.$error.required" ng-click="scrollTo('excerpt')">
                  Veuillez entrer un extrait pour l' article
                </li>
                <li ng-show="postForm.content.$error.required" ng-click="scrollTo('content')">
                  Veuillez entrer un contenu pour l' article
                </li>
            </ul>
          </div>  
      </div> <!-- /ui corner labeled input -->

      <div class="ui buttons">
        <input type="submit" value="{{ modal.mode == 'create' ? 'Creer' : 'Enregistrer les modifications' }}" class="ui submit positive button"/>
        <div class="or"></div>
        <div class="ui button negative reset" ng-click="reset()">Annuler</div>
      </div>
    </form>
  </div>
</div>