<div class="column padding-reset" style="margin-top:50px;" nv-file-drop uploader="uploader">
	<div class="header">
		<h1><i class="write icon"></i> {{ mode == "create" ? "Création d'un nouvel Utilisateur" : "Edition de l'utilisateur" }}</h1>
	</div>
	<div class="content ui form segment">
		<form name="userForm" class="ui form" ng-submit="submitForm()" novalidate>
			<input type="hidden" ng-model="currentPost.id">

			<div class="two fields">
				<div class="field ui" ng-class="{ error: userForm.$submitted && userForm.username.$error.required }">
					<label>Nom d' utilisateur</label>
					<div class="pr">
						<input name="username" placeholder="Prénom" type="text" required ng-bind-html="snippet" ng-model="currentPost.username">
						<div class="ui corner label">
							<i class="asterisk icon"></i>
						</div>
					</div>
					<div class="ui pointing label red" ng-show="userForm.$submitted && userForm.username.$error.required">
						Veuillez entrez un nom d' utilisateur
					</div>
				</div>

				<div class="field ui" ng-class="{ error: userForm.$submitted && userForm.uEmail.$error.required }">
					<label>Email</label>
					<div class="pr">
						<input type="email" name="uEmail" placeholder="Email" 
						required ng-model="currentPost.email">
						<div class="ui corner label">
							<i class="asterisk icon"></i>
						</div>
					</div>

					<div class="ui pointing label red fr" ng-show="userForm.$submitted && !userForm.uEmail.$valid">
						<span ng-show="userForm.uEmail.$error.required">Le champ mail est requis</span>
						<span ng-show="userForm.uEmail.$error.required || !userForm.uEmail.$valid">Veuillez entrez une adresse mail valide</span>
					</div>
				</div>
			</div>

			<!-- Image manager -->
			<div id="image-uploader" class="field" ng-class="{ error: userForm.$submitted && errorimage }">
				<label>Photo de profil</label>
				<div class="ui right aligned grid"> 
					<!-- UPLOAD IMAGE ZONE -->
					<div img-uploader class="center aligned two columns row"></div>
				</div>
				<div class="ui pointing label red" ng-show="userForm.$submitted && errorimage">
					<span ng-show="errorimage">Le champ photo de profil</span>
				</div>
			</div><!-- .field image -->

			<div class="two fields">
				<div class="field ui" 
					 ng-class="{ error: userForm.$submitted && !userRole }"
					 ng-show="isUserAdmin()">
					<label>Role</label>

					<div id="studentRole" class="ui fluid search selection dropdown visible pr">
						<input type="hidden" name="role">
						<div class="ui corner label">
							<i class="asterisk icon"></i>
						</div>
						<input class="search" tabindex="0"><div class="default text">Definir role</div>
						<div class="menu transition" tabindex="-1">
							<div class="item" active data-value="teacher"><i class="icon world"></i>Professeur</div>
							<div class="item" data-value="first_class"><i class="icon student"></i>Eleve de Premiere</div>
							<div class="item" data-value="final_class"><i class="icon student"></i>Eleve de Terminale</div>
						</div>
					</div>
					<div class="ui pointing label red" ng-show="userForm.$submitted && !userRole">
						<span ng-show="!userRole">Le champ role est requis</span>
					</div>
				</div>

				<div class="field ui">
					<label>Mot de passe</label>
					<div class="pr">
						<input type="password" name="password" placeholder="Votre mot de passe" 
						ng-model="currentPost.password">
					</div>
					<div class="ui pointing label blue fr" ng-show="mode == 'edit'">
						<span>En remplissant ce champ vous écraserez l' ancien mot de passe</span>
					</div>
				</div>
			</div>

			<div class="ui buttons">
				<input type="submit" value="{{ modal.mode == 'create' ? 'Creer' : 'Enregistrer les modifications' }}" class="ui submit positive button"/>
				<div class="or"></div>
				<div class="ui button negative reset" ng-click="reset()">Annuler</div>
			</div>
		</form>
	</div>
</div>