<div class="sixteen wide column" style="background-color:yellow">
	<h1>TEMPLATE CONTACT</h1>
</div>
<div class="ui divider"></div>
<div class="six wide column">
	<div class="ui form segment">
		<div class="two fields">
			<div class="field">
				<label>First Name</label>
				<input placeholder="First Name" type="text">
			</div>
			<div class="field">
				<label>Last Name</label>
				<input placeholder="Last Name" type="text">
			</div>
		</div>
		<div class="field">
			<label>Gender</label>
			<div class="ui selection dropdown" tab-index="2">
				<div class="default text">Select</div>
				<i class="dropdown icon"></i>
				<input type="hidden" name="gender">
				<div class="menu">
					<div class="item" data-value="male">Male</div>
					<div class="item" data-value="female">Female</div>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Username</label>
			<input placeholder="Username" type="text">
		</div>
		<div class="field">
			<label>Password</label>
			<input type="password">
		</div>
		<div class="inline field">
			<div class="ui checkbox">
				<input type="checkbox">
			</div>
		</div>
	</div>
</div>
<div class="ten wide column">
	<map zoom="20" 
	  center="[48.86355, 2.35221]" 
	  disable-default-u-i="true"
	  disable-double-click-zoom="true"
	  draggable="false"
	  draggable-cursor="help"
	  dragging-cursor="move"
	  keyboard-shortcuts="false"
	  max-zoom="30"
	  min-zoom="8"
	  tilt="45"
	  map-type-id="TERRAIN">
	  <marker
      position="[48.86355, 2.35221]"
      title="Hello!"
      animation="Animation.BOUNCE"
      draggable="true"
      visible="true"></marker>
	</map>
</div>


