<div class="sixteen wide column" style="background-color:yellow"><h1>TEMPLATE HOME</h1></div>
<div class="ui divider"></div>
<div class="six wide column">
    <div class="ui fluid card">
        <div class="image">
            <img src="http://lorempixel.com/g/300/200/">
        </div>
        <div class="content">
            <div class="header">Actualité de merde</div>
            <div class="meta">
                <a class="group">Put meta here</a>
            </div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quidem, doloremque, deleniti ullam, maiores quas soluta similique dolorum vitae officia odit minima perferendis ea temporibus eos eum. Inventore, vero, totam!</div>
        </div>
        <div class="extra content">
            <a class="right floated created">Author</a>
            <a class="friends">Comments or other shit</a>
        </div>
    </div>
</div>
<div class="six wide column only computer tablet">
	<div class="ui relaxed divided items">
		<!-- START LOOP -->
		<div class="item" ng-repeat="post in posts | limitTo:3">
			<div class="ui small image">
				<img src="http://lorempixel.com/300/200/sports">
			</div>
			<div class="content">
				<a class="header">{{ post.title }}</a>
				<div class="meta">
					<small>{{ post.created_at | date:"MM/dd/yyyy 'at' h:mma" }}</small>
					<a>Category</a>
				</div>
				<div class="description">
					{{ post.excerpt | limitTo:25}}
				</div>
				<div class="extra">
					<img src="/images/wireframe/square-image.png" class="ui circular avatar"> Username
				</div>
			</div>
		</div>
		<!-- END LOOP -->
	</div>
</div>
<!-- SIDEBAR -->
<div ng-include src="'src/app/views/sidebar.html'" class="four wide column"></div>


