<form class="ui basic modal" id="connexionPopUp" ng-controller="AuthController">
    <i class="close icon"></i>
    <div class="header">
        Connectez-vous !
    </div>
    <div class="content">
        <div class="image">
            <i class="users icon"></i>
        </div>
        <div class="description">
            <div class="ui form">
                <div class="two fields">
                    <div class="required field">
                        <label class="popupLabel">Nom d'utilisateur : </label>
                        <div class="ui icon input">
                            <input type="text" ng-model="userInfos.username" value="test" placeholder="Identifiant">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="required field">
                        <label class="popupLabel">Mot de passe : </label>
                        <div class="ui icon input">
                            <input type="password" ng-model="userInfos.password" value="test" placeholder="Password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <button type="reset" class="ui red basic inverted button">
                <i class="remove icon"></i>
                Reset
            </button>
            <button type="submit" id="submit" ng-click="login()" class="ui green basic inverted button">
                <i class="checkmark icon"></i>
                Connexion
            </button>
        </div>
        <div class="one fluid ui inverted buttons" ng-click="logout()" ng-show="isAdmin()">
            <button type="reset" class="ui red basic inverted button">
                <i class="remove icon"></i>
                Logout 
            </button>
        </div>
    </div>
</form>