<div class="ui divider"></div>
<div class="twelve wide column">
	<div class="ui segment">
		<a class="ui ribbon label red">Ribbon</a>
		<div class="header-img" style="background-image: url('http://lorempixel.com/g/300/200/');">

		</div>

		<h1>{{post.title}}</h1>
		<p>{{post.content}}</p>
		<a twitter  data-lang=fr" data-count='horizontal' data-url='http://localhost/eLycee/public/#/post/25' data-size="medium" data-text='post.title' ></a>
	</div>
	<comment comments="[{content:'zizi', name:'Didier'},{content: 'zizi2', name:'Francis'}]"></comment>

	<div class="ui four cards">
		<div class="card">
			<div class="image">
				<img src="http://lorempixel.com/g/300/200/">
			</div>
			<div class="extra">
				Titre du post
			</div>
		</div>
		<div class="card">
			<div class="image">
				<img src="http://lorempixel.com/g/300/200/nature">
			</div>
			<div class="extra">
				<div data-rating="2" class="ui star rating"><i class="icon active"></i><i class="icon active"></i><i class="icon"></i><i class="icon"></i></div>
			</div>
		</div>
		<div class="card">
			<div class="image">
				<img src="http://lorempixel.com/g/300/200/sports">
			</div>
			<div class="extra">
				<div data-rating="3" class="ui star rating"><i class="icon active"></i><i class="icon active"></i><i class="icon active"></i><i class="icon"></i></div>
			</div>
		</div>
		<div class="card">
			<div class="image">
				<img src="http://lorempixel.com/g/300/200/nightlife">
			</div>
			<div class="extra">
				<div data-rating="4" class="ui star rating"><i class="icon active"></i><i class="icon active"></i><i class="icon active"></i><i class="icon active"></i></div>
			</div>
		</div>
	</div>
</div>
<!-- SIDEBAR -->
<div class="four wide column" ng-include src="'js/views/sidebar.html'" ></div>