<div class="ui divider"></div>
<div class="six wide column">
	<h2><i class="send icon"></i> Formulaire de contact</h2>
	<!-- DEBUT DU FORMULAIRE -->
	<div ng-controller="ContactCtrl" class="ui form segment">
		<form novalidate class="simple-form" 
		      name="contactform" role="form" ng-submit="submit()" 
		      ng-hide="hasAnswer" ng-class="{ loading: isSending }">

		  	<div class="two fields">
				<div class="field ui" ng-class="{ error: contactform.$submitted && contactform.firstname.$error.required }">
					<label>Prénom</label>
					<div class="pr">
						<input name="firstname" placeholder="Prénom" type="text" required ng-bind-html="snippet" ng-model="contact.firstname">
						<div class="ui corner label">
							<i class="asterisk icon"></i>
						</div>
					</div>
					<div class="ui pointing label red" ng-show="contactform.$submitted && contactform.firstname.$error.required">
				    	Veuillez entrez un prénom
				    </div>
				</div>
				<div class="field ui" ng-class="{ error: contactform.$submitted && contactform.lastname.$error.required }">
					<label>Nom</label>
					<div class="pr">
						<input name="lastname" placeholder="Nom" type="text" required ng-bind-html="snippet" ng-model="contact.lastname">
						<div class="ui corner label">
				            <i class="asterisk icon"></i>
				        </div>
					</div>
					<div class="ui pointing label fr red" ng-show="contactform.$submitted && contactform.lastname.$error.required" >
				    	Veuillez entrez un nom
				    </div>
				</div>
			</div>
			<div class="field ui" ng-class="{ error: contactform.$submitted && !contactform.uEmail.$valid }">
				<label>Email</label>
				<div class="pr">
					<input type="email" name="uEmail" placeholder="Email" 
						   required ng-model="contact.email" 
						   ng-pattern="/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$/">
					<div class="ui corner label">
						<i class="asterisk icon"></i>
					</div>
				</div>
			    <div class="ui pointing label red" ng-show="contactform.$submitted && !contactform.uEmail.$valid">
			      <span ng-show="contactform.uEmail.$error.required">Le champ mail est requis</span>
			      <span ng-show="contactform.uEmail.$error.required || !contactform.uEmail.$valid">Veuillez entrez une adresse mail valide</span>
			    </div>
			</div><!-- 
			<label>Email</label>
			<input id="UserName" name="UserName" type="text" value="" data-ng-model="email" required="" cemail>
			<span data-ng-show="form.UserName.$dirty && form.UserName.$invalid">
			    <span data-ng-show="form.UserName.$error.required">Required</span>
			    <span data-ng-show="form.UserName.$error.cemail">Invalid Email</span>
			</span> -->
			<div class="field ui" ng-class="{ error: contactform.$submitted && contactform.object.$error.required }">
					<label>Objet du message</label>
					<div class="pr">
						<input placeholder="Objet" type="text" name="object" required ng-bind-html="snippet" ng-model="contact.object">
						<div class="ui corner label">
							<i class="asterisk icon"></i>
						</div>
					</div>
					<div class="ui pointing label red" ng-show="contactform.$submitted && contactform.object.$error.required">
				    	Veuillez entrez un objet
				    </div>
			</div>
			<div class="field ui" ng-class="{ error: contactform.$submitted && contactform.message.$error.required }">
				<label>Message</label>
				<div class="pr">
					<textarea class="noResize" name="message" required ng-bind-html="snippet" ng-model="contact.formMessage" placeholder="Votre message.."></textarea>
					<div class="ui corner label">
						<i class="asterisk icon"></i>
					</div>
				</div>
				<div class="ui pointing label red" ng-show="contactform.$submitted && contactform.message.$error.required">
			    	Veuillez entrez un message
			    </div>
			</div>
			<div class="field" style="display:none">
		        <input type="text" name="specialField" ng-model="specialField"/>
		    </div>
			<div class="field">
				<label><i class="asterisk small icon"></i>Champs requis</label>
			</div>
			<div class="two fluid ui inverted buttons">
		        <button type="reset" class="ui red  button" ng-click="resetMessage()">
		            <i class="remove icon"></i>
		            Effacer
		        </button>
		        <button id="submit" class="ui green button" ng-disabled="submitButtonDisabled">
		            <i class="send icon"></i>
		            Envoyer
		        </button>
		    </div>
		</form>

		<div class="ui positive icon message"  ng-show="hasAnswer" >
			<i class="inbox icon"></i>
			<div class="content">
				<div class="header">
					{{ returnMessage }}
				</div>
				<p>Nous avons bien reçu votre message !</p>
			</div>
		</div>
	</div>
</div>
<div class="ten wide column">
	<h2><i class="marker icon"></i> Où nous trouver?</h2>
	<map zoom="12" 
	center="[48.86355, 2.35221]" 
	disable-default-u-i="true"
	disable-double-click-zoom="true"
	draggable="true"
	dragging-cursor="move"
	keyboard-shortcuts="false"
	max-zoom="35"
	min-zoom="8"
	tilt="45"
	map-type-id="TERRAIN">
	<marker
	position="[48.86355, 2.35221]"
	title="Hello!"
	visible="true"></marker>
	</map>
	
	<h2 style="margin-bottom: 50px;"><i class="thumbs outline up icon"></i> Thanxx !</h2>
	<div class="ui five column grid center aligned">
		<div class="column">
			<div class="ui segment">
				<a ng-href="http://semantic-ui.com/" target="_blank">
					<img class="ui fluid image" width="190" ng-src="img/semantic.png" alt="semanticUI">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<a ng-href="https://angularjs.org/" target="_blank">
					<img class="ui fluid image" width="150" ng-src="img/angular.jpg" alt="AngularJs">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<a ng-href="http://laravel.com/" target="_blank">
					<img class="ui fluid image"  width="150" ng-src="img/laravel.png" alt="Laravel">
				</a>
			</div>
		</div>
	</div>
</div>
