<div class="ui divider"></div>
<div class="six wide column">
	<h2><i class="send icon"></i> Formulaire de contact</h2>
	<!-- DEBUT DU FORMULAIRE -->
	<div ng-controller="ContactCtrl" class="ui form segment">
		  <form novalidate class="simple-form" name="contactform" role="form">
			  <div class="two fields">
					<div class="field">
						<label>Prénom <i class="asterisk small icon"></i></label>
						<input placeholder="Prénom" type="text" required ng-model="contact.prenom">
					</div>
					<div class="field">
						<label>Nom <i class="asterisk small icon"></i></label>
						<input placeholder="Nom" type="text" required ng-model="contact.nom">
					</div>
				</div>
				<div class="field">
					<label>Email <i class="asterisk small icon"></i></label>
					<input type="email" placeholder="Email" required ng-model="contact.mail">
				</div>
				<div class="field">
						<label>Objet du message <i class="asterisk small icon"></i></label>
						<input placeholder="Objet" type="text" required ng-model="contact.objet">
				</div>
				<div class="field">
					<label>Message <i class="asterisk small icon"></i></label>
					<textarea class="noResize" required ng-model="contact.message" placeholder="Votre message.."></textarea>
				</div>
				<div class="field">
					<label><i class="asterisk small icon"></i>Champs requis</label>
				</div>
				<div class="two fluid ui inverted buttons">
		            <button type="reset" class="ui red  button" ng-click="resetMessage()">
		                <i class="remove icon"></i>
		                Effacer
		            </button>
		            <button id="submit" ng-click="submit(contactform)" class="ui green button" ng-disabled="submitButtonDisabled">
		                <i class="send icon"></i>
		                Envoyer
		            </button>
		        </div>
		  		<pre>SAISIE : {{contact | json}}</pre>
				<p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
		  </form>
	</div>
</div>
<div class="ten wide column">
	<h2><i class="marker icon"></i> Où nous trouver?</h2>
	<map zoom="12" 
	center="[48.86355, 2.35221]" 
	disable-default-u-i="true"
	disable-double-click-zoom="true"
	draggable="true"
	dragging-cursor="move"
	keyboard-shortcuts="false"
	max-zoom="35"
	min-zoom="8"
	tilt="45"
	map-type-id="TERRAIN">
	<marker
	position="[48.86355, 2.35221]"
	title="Hello!"
	visible="true"></marker>
	</map>
	<h2 style="margin-bottom: 50px;"><i class="marker icon"></i> Thanxx !</h2>
	<div class="ui five column grid center aligned">
		<div class="column">
			<div class="ui segment">
				<a ng-href="https://angularjs.org/" target="_blank">
					<img class="ui fluid image" width="150" ng-src="img/angular.jpg" alt="AngularJs">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<a ng-href="http://laravel.com/" target="_blank">
					<img class="ui fluid image"  width="150" ng-src="img/laravel.png" alt="Laravel">
				</a>
			</div>
		</div>
	</div>
</div>
