<div class="ui divider"></div>
<div class="six wide column">
	<h2><i class="send icon"></i> Formulaire de contact</h2>
	<!-- DEBUT DU FORMULAIRE -->
<div ng-controller="ContactCtrl" class="ui form segment">
	  <form novalidate class="simple-form">
		  <div class="two fields">
				<div class="field">
					<label>Prénom</label>
					<input placeholder="Prénom" type="text" required ng-model="contact.prenom">
				</div>
				<div class="field">
					<label>Nom</label>
					<input placeholder="Nom" type="text" required ng-model="contact.nom">
				</div>
			</div>
			<div class="field">
				<label>Email</label>
				<input type="email" placeholder="Email" required ng-model="contact.mail">
				<span class="error" ng-show="$error.mail">EMAIL NON VALIDE</span>
			</div>
			<div class="field">
			  <label>Sexe</label>
			  <div class="ui selection dropdown">
				<input type="hidden" name="sexe" ng-model="contact.sexe">
				<div class="default text">Sexe</div>
				<i class="dropdown icon"></i>
				<div class="menu">
				  <div class="item" data-value="male">Homme</div>
				  <div class="item" data-value="female">Femme</div>
				</div>
			  </div>
		    </div>
			<div class="field">
				<label>Message</label>
				<textarea class="noResize" required ng-model="contact.message"></textarea>
			</div>
			<div class="ui negative button submit" ng-click="resetMessage()">Effacer</div>
			<div class="ui positive button submit" ng-click="sendMessage(contact)">Envoyer</div>
	  		<pre>SAISIE : {{contact | json}}</pre>
			<pre>FORM : {{master | json}}</pre>
	  </form>
</div>

<div class="ten wide column">
	<h2><i class="marker icon"></i> Où nous trouver?</h2>
	<map zoom="12" 
	center="[48.86355, 2.35221]" 
	disable-default-u-i="true"
	disable-double-click-zoom="true"
	draggable="true"
	dragging-cursor="move"
	keyboard-shortcuts="false"
	max-zoom="35"
	min-zoom="8"
	tilt="45"
	map-type-id="TERRAIN">
	<marker
	position="[48.86355, 2.35221]"
	title="Hello!"
	visible="true"></marker>
	</map>
</div>
