<div class="ui page grid">
    <div class="container">
        <div class="ui stackable inverted divided relaxed grid">
            <div class="eight wide column">
                <h3 class="ui header">E-Lycee | Formation en alternance développeur</h3>
                <p>
                    Les professeurs de mathématiques d'un Lycée d'Ardèche ont décidé de mettre en place un système de QCM automatique en ligne et de créer un site de contenu.
                </p>
                <a target="_blank" class="ui red button" ng-href="http://elycee.creativecode.fr/">
                    Voir le site en production
                </a>
            </div>
            <div class="four wide column">
                <h5 class="ui red header">Made with <i class="icon heart"></i> special thanks to :</h5>
                <div class="ui link list">
                    <a class="item" href="https://angularjs.org/" target="_blank">
                        <em style="font-style: normal; color: #a6120d;">A</em>ngular Js
                    </a>
                    <a class="item" href="http://laravel.com/" target="_blank">
                        <em style="font-style: normal; color: #F17370;">L</em>aravel
                    </a>
                    <a class="item" href="http://semantic-ui.com/" target="_blank">
                        <em style="font-style: normal; color: #35BDB2;">S</em>emantic UI
                    </a>
                </div>
            </div>
            <div class="four wide column">
                <h5 class="ui red header">Elycee Network</h5>
                <div class="ui link list">
                    <a class="item" href="https://github.com/Clementp57/eLycee" target="_blank">
                        <i class="icon github"></i> Fork us on Github !
                    </a>
                    <a class="item" href="https://twitter.com/cpdev08_eLycee" target="_blank">
                        <i class="icon twitter"></i> Follow us on twitter
                    </a>
                    <a class="item" href="https://google.com/" target="_blank">
                        <i class="icon bitcoin"></i> Give us bitcoins
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>