<div class="row" style="padding-top:50px;">
	<div class="six wide column">
		<div class="ui fluid card raised segment">
			<div class="ui top attached label red">A la une</div>
			<div class="image">
				<img ng-src="{{firstPost.url_thumbnail}}">
			</div>
			<div class="content">
				<div class="header">
					<h2>
						<a ng-href="#/post/{{firstPost.id}}" style="color: black;">{{firstPost.title}}</a>
					</h2>
				</div>
				<div class="meta">
					<a class="group">{{firstPost.created_at | dateAgo}}</a>
				</div>
				<div class="description" ng-bind-html="firstPost.excerpt | htmlToPlaintext"></div>
			</div>
			<div class="extra content">
					<a class="ui teal circular label right floated created">

						<img ng-src="{{firstPost.users.profile_picture}}" class="ui circular avatar"/>
						Par {{firstPost.users.username}}
					</a>
				<a class="ui tag red label">Dernière actualité</a>
			</div>
		</div>
	</div>
	<div class="six wide column only computer">
		<div class="ui segment raised items divided"><!-- ui divided list -->
			<div class="ui top attached label red">L'Actualité du lycée</div>
			<!-- START LOOP -->
			<div class="item" ng-repeat="post in posts | limitTo:4">
				<div class="ui small image">
					<img src="{{post.url_thumbnail}}" width="300">
				</div>
				<div class="content">
					<h3>
						<a class="header" ng-href="#/post/{{post.id}}">{{ post.title | limitTo : 45 }}</a>
					</h3>
					<div class="meta">
						<small><i>{{ post.created_at | dateAgo}}</i></small>
					</div>
					<div class="description" ng-bind-html="post.excerpt | limitTo:200 | htmlToPlaintext"></div>
					<div class="extra">
						<img ng-src="{{post.users.profile_picture}}" class="ui circular avatar"/>Par {{post.users.username}}
					</div>
				</div>
			</div>
			<!-- END LOOP -->
		</div>
	</div>
	<!-- SIDEBAR -->
	<div ng-include src="'js/views/sidebar.html'" class="four wide column computer only">
	</div>
</div>







