<div class="row" style="padding-top:50px;">
	<div class="six wide column">
		<div class="ui fluid card raised segment">
			<div class="ui top attached label red">A la une</div>
			<div class="image">
				<img src="{{firstPost.url_thumbnail}}">
			</div>
			<div class="content">
				<div class="header">{{firstPost.title}}</div>
				<div class="meta">
					<a class="group">{{firstPost.created_at}}</a>
				</div>
				<div class="description">{{firstPost.excerpt}}</div>
			</div>
			<div class="extra content">
				<a class="right floated created">{{firstPost.users.username}}</a>
				<a class="ui tag red label">Dernière actualité</a>
			</div>
		</div>
	</div>
	<div class="six wide column only computer">
		<div class="ui segment raised items">
			<div class="ui top attached label red">L'Actualité du lycée</div>
			<!-- START LOOP -->
			<div class="item" ng-repeat="post in posts | limitTo:4">
				<div class="ui small image">
					<img src="{{post.url_thumbnail}}" width="300">
				</div>
				<div class="content">
					<a class="header" href="#/post/{{post.id}}">{{ post.title | limitTo : 35 }}...</a>
					<div class="meta">
						<small>{{ post.created_at | dateToISO | date:'dd/MM/yyyy'}}</small>
					</div>
					<div class="description" ng-bind-html="post.excerpt | limitTo:25 | htmlToPlaintext"></div>
					<div class="extra">
						<img src="http://lorempixel.com/100/100/sports" class="ui circular avatar"> {{post.users.username}}
					</div>
				</div>
			</div>
			<!-- END LOOP -->
		</div>
	</div>
	<!-- SIDEBAR -->
	<div ng-include src="'js/views/sidebar.html'" class="four wide column computer only">
	</div>
</div>







