<div class="row" style="padding-top:50px;">
	<div class="six wide column">
		<div class="ui fluid card raised segment">
			<div class="ui top attached label red">A la une</div>
			<div class="image">
				<img src="http://lorempixel.com/g/300/200/">
			</div>
			<div class="content">
				<div class="header">Actualité à la une !</div>
				<div class="meta">
					<a class="group">02/01/2015</a>
				</div>
				<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quidem, doloremque, deleniti ullam, maiores quas soluta similique dolorum vitae officia odit minima perferendis ea temporibus eos eum. Inventore, vero, totam!</div>
			</div>
			<div class="extra content">
				<a class="right floated created">Author name</a>
				<a class="ui tag red label">New</a>
			</div>
		</div>
	</div>
	<div class="six wide column only computer">
		<div class="ui segment raised items">
			<div class="ui top attached label red">L'Actualité du lycée</div>
			<!-- START LOOP -->
			<div class="item" ng-repeat="post in posts | limitTo:3">
				<div class="ui small image">
					<img src="{{post.url_thumbnail}}" width="300">
				</div>
				<div class="content">
					<a class="header" href="#/post/{{post.id}}">{{ post.title | limitTo : 35 }}...</a>
					<div class="meta">
						<small>{{ post.created_at | dateToISO | date:'dd/MM/yyyy'}}</small>
						<a>Category</a>
					</div>
					<div class="description">
						{{ post.excerpt | limitTo:25}}
					</div>
					<div class="extra">
						<img src="http://lorempixel.com/100/100/sports" class="ui circular avatar"> Username
					</div>
				</div>
			</div>
			<!-- END LOOP -->
		</div>
	</div>
	<!-- SIDEBAR -->
	<div ng-include src="'js/views/sidebar.html'" class="four wide column computer only">
	</div>
</div>







