<form class="ui basic modal" id="connexionPopUp" style="border: 2px solid white;" ng-controller="AuthenticationController"> 
    <i class="close icon"></i>
    <div class="header">
        Connexion
    </div>
    <div class="content">
        <div class="image">
            <i class="sign in icon"></i>
        </div>
        <div class="description">
            <div class="ui form">
                <div class="two fields">
                    <div class="required field">
                        <label class="popupLabel">Login : </label>
                        <div class="ui icon input">
                            <input type="text" ng-model="userInfos.username" value="test" placeholder="Identifiant">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="required field">
                        <label class="popupLabel">Mot de passe : </label>
                        <div class="ui icon input">
                            <input type="password" ng-model="userInfos.password" value="test" placeholder="Password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <button type="reset" class="ui red  button">
                <i class="remove icon"></i>
                Reset
            </button>
            <button type="submit" id="submit" ng-click="login()" class="ui green button">
                <i class="checkmark icon"></i>
                Connexion
            </button>
        </div>
    </div>
</form>