<div class="row" style="padding-top:50px;">

	<div class="twelve wide column">
		<div class="ui centered row">
			<pagination class="pagination-wrapper center aligned" entity="entity" pages="nbPages" datas="allPosts" nb-pages="nbPages" current-page="currentPage"></pagination>
		</div>
		<div class="ui segment divided items">
			<!-- START LOOP -->
			<div class="item" ng-repeat="post in posts ">
				<div class="ui small image">
					<a class="ui teal right ribbon label">{{post.created_at | dateAgo}}</a>
					<img src="{{post.url_thumbnail}}">
				</div>
				<div class="content">
					<h3>
						<a class="header" href="#/post/{{post.id}}">{{ post.title }}</a>
					</h3>
					<div class="description">
						<p style="margin-bottom: 25px;" ng-bind-html="post.excerpt"></p>
						<div class="ui blue labels">
						    <a class="ui label" href="#/post/{{post.id}}">
						    	<i class="icon angle double right"></i> Lire la suite
						    </a>
						</div>
					</div>
					<i class="icon comments"></i>{{ post.comments.length }}
					<div class="ui image label" style="border-radius:15px 0 0 15px;">
						<img src="http://lorempixel.com/g/100/100/" class="ui circular avatar">
						Par {{post.users.username}} 
					</div>
				</div>
			</div>
			<!-- END LOOP -->
		</div>
		<div class="ui centered row">
			<pagination class="pagination-wrapper center aligned" entity="entity" pages="nbPages" datas="allPosts" nb-pages="nbPages" current-page="currentPage"></pagination>
		</div>
	</div>
	<!-- SIDEBAR -->
	<div class="four wide column" ng-include src="'js/views/sidebar.html'" ></div>
</div>