<div class="row" style="padding-top:50px;">

	<div class="twelve wide column">
		<div class="ui centered row">
			<pagination class="pagination-wrapper center aligned" entity="entity" pages="nbPages" datas="allPosts" nb-pages="nbPages" current-page="currentPage"></pagination>
		</div>
		<div class="ui segment divided items">
			<!-- START LOOP -->
			<div class="item" ng-repeat="post in posts ">
				<div class="ui small image">
					<img src="{{post.url_thumbnail}}">
				</div>
				<div class="content">
					<a class="header" href="#/post/{{post.id}}">{{ post.title }}</a>
					<div class="meta">
						<span>{{post.created_at | dateToISO | date:'dd/MM/yyyy'}}</span>
						<!-- <a>Category</a> -->
					</div>
					<div class="description">
						{{ post.excerpt }}.. </br><a href="#/post/{{post.id}}">Lire la suite</a>
					</div>
					<div class="extra">
						<img src="http://lorempixel.com/g/100/100/" class="ui circular avatar"> Username
					</div>
				</div>
			</div>
			<!-- END LOOP -->
		</div>
		<div class="ui centered row">
			<pagination class="pagination-wrapper center aligned" entity="entity" pages="nbPages" datas="allPosts" nb-pages="nbPages" current-page="currentPage"></pagination>
		</div>
	</div>
	<!-- SIDEBAR -->
	<div class="four wide column" ng-include src="'js/views/sidebar.html'" ></div>
</div>