<div class="row" style="padding-top:50px;">
    <div class="six wide column">
        <div class="ui segment">
            <div class="ui top attached label">
                <img src="http://lorempixel.com/100/100" class="ui avatar image">
                <span style="font-size:1.8em; vertical-align: middle">
                    <span class="color:black">{{user.username}}</span>, inscrit le {{user.created_at | dateToISO | date:'dd/MM/yyyy' }}, {{ getUserClass()}}</span>
            </div>
            <div class="ui divider"></div>
            Taux de réussite moyen aux QCMS :
            <div class="ui label" ng-class="{ red: averageScore < 30, orange: averageScore >30 && averageScore <70, green: averageScore > 70 }">{{averageScore}}% de réussite</div>
            <div class="ui divider"></div>
            <div google-chart chart="chartObject" style="{{cssStyle}}"></div>
        </div>
    </div>
    <div class="six wide column">
        <div class="ui segment loading">
            <div class="ui top attached label green">
                <i class="icon radio"></i>QCM disponibles
            </div>
            <div class="ui   accordion">
                <div ng-repeat="qcm in availableQcms">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        {{qcm.title}}
                    </div>
                    <div class="content">
                        <p>{{ qcm.description }}</p>
                        <div class="right compact ui button" ng-click="go('/qcm/'+qcm.id);">Commencer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment loading">
            <div class="ui top attached label blue">
                <i class="icon radio"></i>QCM répondus
            </div>
            <div class="ui styled accordion">
                <div ng-repeat="qcm in unavailableQcms">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        {{qcm.title}} <div class="right floated compact ui label" ng-class="{ red: qcm.score < 30, orange: qcm.score >30 && qcm.score <70, green: qcm.score > 70 }">{{qcm.score}}% de réussite</div>

                    </div>
                    <div class="content">
                        <p>{{qcm.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SIDEBAR -->
    <div ng-include src="'js/views/sidebar.html'" class="four wide column computer only">
    </div>
</div>
