<div class="ui vertical menu" id="sidebar" ng-controller="SidebarCtrl">
	<form class="item" ng-submit="search();">
		<div class="ui input"><input type="text" placeholder="Rechercher..." name="search" id="searchField"></div>
	</form>
	<div class="item">
		<i class="home icon"></i> Home
		<div class="menu">
			<a class="active item">Search</a>
			<a class="item">Add</a>
			<a class="item">Remove</a>
		</div>
	</div>

	<div class="header item">
		<i class="twitter icon blue"></i>
		Derniers tweets
	</div>
	<div style="padding-left:10px;padding-right:10px;">
<!-- 		<twitter></twitter>
 -->		{{twitter}}
	</div>
	<div class="ui dropdown item">
		<i class="dropdown icon"></i>
		More
		<div class="menu">
			<a class="item"><i class="edit icon"></i> Edit Profile</a>
			<a class="item"><i class="globe icon"></i> Choose Language</a>
			<a class="item"><i class="settings icon"></i> Account Settings</a>
		</div>
	</div>
</div>

