<div class="ui vertical menu" ng-controller="SideBarController">
	<div class="header item">
		<i class="feed icon"></i>
		A lire aussi
	</div>
	<div class="item">
		College
		<div class="menu">
			<a class="item">Baseball</a>
			<a class="item">Basketball</a>
			<a class="item">Golf</a>
		</div>
	</div>
	<a class="item">
		Dance
	</a>
	<a class="item">
		Aerobics
	</a>
	<div class="header item">
		<i class="twitter icon"></i>
		Derniers tweets
	</div>
	<div style="margin-left:5px;">
	<a class="twitter-timeline"
	  href="https://twitter.com/cpdev08_eLycee"
	  data-widget-id="537932559221788672"
	  data-theme="light"
	  data-tweet-limit="5"
	  data-chrome="nofooter noheader transparent"
	  data-link-color="#1BB5E0"
	  data-related="twitterapi,twitter"
	  data-aria-polite="assertive"
	  width="200"
	  height="300">
		Tweets de @cpdev08_eLycee
	</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<div class="header item">
		<i class="icon calendar"></i>
		Months
	</div>
	<a class="item">
		August
	</a>
	<a class="item">
		June
	</a>
</div>