<div class="ui vertical menu" id="sidebar" ng-controller="SidebarCtrl">
	<form class="item" ng-submit="search();">
		<div class="ui input"><input type="text" placeholder="Rechercher..." name="search" id="searchField"></div>
	</form>
	<div class="header item">
		<i class="pointing down icon red"></i> A lire aussi ..
		</div>
	<div class="item">
		<div class="menu">
			<a class="item" href="https://www.ecole-multimedia.com/formation-en-alternance/developpement-web/developpeur-web">Développeur multimédia</a>
			<a class="item" href="https://slack.com/is/team-communication">Slack</a>
			<a class="item" href="https://trello.com">Trello</a>
		</div>
	</div>

	<div class="header item">
		<i class="twitter icon blue"></i>
		Derniers tweets
	</div>
	<div style="padding-left:10px;padding-right:10px;">
		<twitterw></twitterw>
	</div>
	<!-- <div class="ui dropdown item">
		<i class="dropdown icon"></i>
		More
		<div class="menu">
			<a class="item"><i class="edit icon"></i> Edit Profile</a>
			<a class="item"><i class="globe icon"></i> Choose Language</a>
			<a class="item"><i class="settings icon"></i> Account Settings</a>
		</div>
	</div> -->
</div>

